.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-form {
  display: flex;
  justify-content: center;
}

.container-content {
  display: flex;
  gap: 3rem;
}